{% load tags %}

{% title slot.workday.date slot.shift 'version '|glue:slot.workday.version.n %}


<div class="flex flex-row text-2xs">
    <a href="{{ slot.get_prev.url }}"> PREV {{ slot.shift }}</a>
    <span class="px-2"> | </span>
    <a href="{{ slot.get_next.url }}"> NEXT {{ slot.shift }}</a>
</div>

<div class="border rounded w-fit my-3 px-2 bg-zinc-100 bg-opacity-10">{{ slot.workday.weekday }}</div>


{% if slot.employee %}

    <a href="clear/" class="btn btn-delete float-right">CLEAR</a>

{% endif %}

<h2>{{ slot.employee }}</h2>

{% if slot.employee != None %}

    <span class="text-2xs italic opacity-75">
        Slot assigned via
        {% include 'slot/detail/slot-template-info.html' %}
    </span>

{% endif %}

<form method="POST"
      _="on submit wait 2s then call window.location.reload()">

    {% csrf_token %}

    <label for="employee">SLOT Options</label>

    <select name="employee"
            id="employee"
            _="on change
                remove .disabled from next .btn
                then remove @disabled from next .btn
                end">

        {% if not slot.employee %}
            <option value="">None</option>
        {% endif %}


        <optgroup label="Options Generated via Model">
            {% for opt in slot.options.viable %}
                {% if opt == slot.employee %}

                    <option value="{{ opt.employee.slug }}"
                            selected>
                            {{ opt.employee.name }}:
                            {{ opt.get_fill_method_display }}
                            ({{ opt.discrepancy }} hrs)
                            [ model scores at {{ opt.score }} ]
                    </option>

                {% else %}
                    {% if opt.is_viable %}

                        <option value="{{ opt.employee.slug }}">
                        {{ opt.employee.name }}:
                        {{ opt.get_fill_method_display }}
                        ({{ opt.discrepancy }} hrs)
                        [ model scores at {{ opt.score }} ]
                        </option>

                    {% endif %}
                {% endif %}
            {% endfor %}
        </optgroup>


    </select>

    {% if slot.employee != None %}
        {% iconButton 'clarity:employee-solid' 'Employee' slot.employee.url  %}
    {% endif %}

<button class='btn btn-secondary disabled'
        type="submit"
        disabled>
        Save
</button>

</form>