{% load tags %}

{% title slot.workday.date slot.shift 'version '|glue:slot.workday.version.n %}


{% if slot.employee %}

    <a href="clear" class="btn btn-delete float-right">CLEAR</a>

{% endif %}


<h2>{{ slot.employee }}</h2>
<span class="text-2xs italic opacity-75">Slot assigned via {{ slot.get_filled_by_display }}</span>

<form method="POST"
      hx-post="{{ slot.url }}hx/"
      _="on submit wait 2s then call window.location.reload()">

    {% csrf_token %}

    <label for="employee">SLOT Options</label>

    <select name="employee"
            _="on change
                remove .disabled from next .btn
                then remove @disabled from next .btn end">

        {% if not slot.employee %}
            <option value="">None</option>
        {% endif %}


        <optgroup label="Options Generated via Model">
            {% for opt in slot.options.all %}
                {% if opt.employee == slot.employee %}

                    <option value="{{ opt.employee.slug }}"
                            selected>
                            {{ opt.employee.name }} [{{ opt.week_hours }} hrs in week]
                    </option>

                {% else %}
                    {% if not opt.has_block %}

                        <option value="{{ opt.employee.slug }}">
                        {{ opt.employee.name }} [{{ opt.week_hours }} hrs in week]
                        </option>

                    {% endif %}
                {% endif %}
            {% endfor %}
        </optgroup>


    </select>

    {% iconButton 'clarity:employee-solid' 'Employee' slot.employee.url  %}

<button class='btn btn-secondary disabled'
        type="submit"
        disabled>
        Save
</button>

</form>