<div class="column w-1/3">
    <div class="panel bg-zinc-100 rounded border bg-opacity-10">
    <h2 class="text-lg px-3 font-bold">Phases</h2>
    <table class="phases text-xs table">
        {% for phase in phases %}
            <tr class="phase">
                <td class="phase-checkbox"><input type="checkbox"/></td>
                <td class="phase">{{ phase.name }}: {{ phase.verbose_name }}</td>
                <td class="phase-end">{{ phase.end_time }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
</div>
