{% extends 'main/base.html' %}
{% load tags %}

{% block content %}

    <h1 class="mt-7">
        <div class="flex flex-row">
            <div class="font-thin">Schedule {{ version.schedule.year }} #{{ version.schedule.n }}
                <span class="font-black text-indigo-400">v{{ version.n }}</span>
            </div>
            <a href="{% url 'dept:sch:ver:detail' version.schedule.department.slug version.schedule.slug version.n %}">
                <span class="pl-2 iconify-inline text-indigo-400" data-icon="solar:square-arrow-right-up-outline"></span>
            </a>
        </div>
    </h1>
    <h3>
        <div class="flex flex-row">
            <div class="font-bold">{{ employee.name }}</div>
            <a href="{% url 'dept:empl:detail' version.schedule.department.slug employee.slug %}">
                    <span class="ml-2 iconify-inline text-indigo-400" data-icon="solar:square-arrow-right-up-outline"></span>
            </a>
        </div>
    </h3>
    <hr/>

    {% if version.status == 'D' %}
        <div class="alert alert-warning toast alert-pulse flex flex-row">
            <span class="iconify-inline text-xl mt-1 mr-2" data-icon="carbon:warning-alt-filled"></span>
            <span class="text-xl font-black">DRAFT</span>
            <span class="pl-7">THIS SCHEDULE IS A DRAFT AND HAS NOT BEEN PUBLISHED. <br/> SUBJECT TO CHANGE.</span>
        </div>
    {% endif %}
    <div class="flex flex-col lg:flex-row">

         <div class="card border m-3 w-fit mx-auto">
            <div class="card-header">

                <h3 class="card-title">Pay Period Breakdown</h3>
                {% if version.status == 'D' %}
                    <div class="tag">
                        DRAFT
                    </div>
                {% endif %}

            </div>
            <div class="card-body">
                <div class="card-description">
                    <div class="card-footer">
                        {% for prd in periods %}
                            <div class="flex flex-row">
                                <div class="flex-grow">
                                    {{ prd.start_date|date:"M d" }} - {{ prd.end_date|date:"M d" }}
                                </div>
                                <div class="flex-grow border font-black mx-2 rounded px-2">
                                    <div class="flex flex-row">
                                        {% if prd.hours == prd.goal %}
                                            <span class="iconify-inline text-emerald-300" data-icon="carbon:checkmark-filled"></span>
                                        {% endif %}
                                        <div class="ml-2">{{ prd.hours }} hr</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-7">

            {% for day in workday_details %}

                <div class="border rounded-lg shadow-lg bg-zinc-100
                            bg-opacity-10 p-2 m-0.5 md:m-2
                            {% if day.slot == None %} opacity-50 {% endif %}
                            {% if day.pto != None %} bg-amber-300 {% endif %}">

                    <a class="font-light text-xs tracking-wide uppercase"
                       href="{{ day.workday.url }}">

                            {{ day.date|date:'M d, Y' }}

                    </a>

                    <div class="text-2xs flex flex-row">
                        <span>{{ day.template.get_type_display }}</span>

                        {% if day.template.type == 'O' and day.slot != None %}
                            <span class="iconify-inline text-amber-400 text-xl"
                                  data-icon="carbon:warning-alt-filled"></span>
                        {% endif %}
                    </div>



                    {% if day.slot != None %}
                        <div class="text-2xl font-light">{{ day.slot.shift.name }}</div>
                    {% elif day.pto != None %}
                        <div class="text-2xl font-light text-yellow-500">PTO</div>
                    {% endif %}

                </div>

            {% endfor %}

        </div>
    </div>

    <hr class="dashed"/>






{% endblock %}