{% extends 'main/base.html' %}
{% load tags %}

{% block content %}

    {% backlink 'Version Home' '../' %}

    <h1>{{ version }}</h1>
    <h2>Pay Periods</h2>

    {% for prd in pay_periods %}
        {% if prd.discrepancy %}
            <details>
                <summary>
                    {{ prd.discrepancy }} {{ prd }}
                </summary>
                    <div>
                        {% for slot in prd.slots.all %}
                            <div>
                                {{ slot }}
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        {{ prd.fill_options.count }}
                    </div>
            </details>
        {% endif %}
    {% endfor %}

{% endblock %}
