{% load static %}
{% load tags %}

{% block header %}

    <nav class="header header-horizontal bg-zinc-950 rounded-xl h-14 mt-2 top-0 mx-4 flex flex-row">

        <a class="w-fit" href="/">

            <img src="{% static 'img/logo/v0.4.png' %}"
                 alt="FlowRate Logo"
                 class="h-[135px] w-[135px] -top-4 -left-4 relative"/>

        </a>

        <a href="/">
            <h2 class="font-thin -left-6 top-3 relative pr-0 mr-0">
                <span class="font-thin">Flow</span><span class="font-black text-red-400 -left-7 pl-0 ml-0">Rate</span>
            </h2>

        </a>

        <div class="flex-grow">

        </div>

        <div class="flex-shrink mr-5 flex flex-row">

            {% iconButton2  "ph:calendar-duotone" 'Current Schedule' "/to-user-sch/" %}

            {% iconButton2  "octicon:organization-16" "Department Home" "/to-user-dept/" %}

            {% iconButton2  "ph:user-circle-gear-fill" "Profile" "/profile/" %}

        </div>

    </nav>

{% endblock %}