{% load static %}
{% load tags %}

{% block header %}

    <nav class="header header-horizontal bg-zinc-950 rounded-xl h-14 mt-2 top-0 mx-4 flex flex-row">

        <a class="w-fit" href="/">

            <img src="{% static 'img/logo/v0.4.png' %}"
                 alt="FlowRate Logo"
                 class="h-[135px] w-[135px] -top-4 -left-4 relative"/>

        </a>

        <a href="/">
            <h2 class="font-thin -left-7 top-3 relative">
                <span class="font-thin">
                    Flow
                </span>
                <span class="font-black text-red-400 -left-7">
                    Rate
                </span>
            </h2>

        </a>

        <div class="flex-grow">

        </div>

        <div class="flex-shrink mr-5 flex flex-row">

            {% iconButton2  "ph:calendar-duotone" 'Current' "/to-user-sch/" %}

            {% iconButton2  "octicon:organization-16" "Department Home" "/to-user-dept/" %}

        </div>

    </nav>

{% endblock %}