.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
}

.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}