<div class="fixed
            bottom-0
            left-0
            z-50
            m-3
            mb-5
            w-full
            h-16
            bg-transparent
            backdrop-blur-xl
            backdrop-brightness-50
            border-t border-gray-800 rounded">

    <!-- Bottom Nav Grid -->
    <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">

        {% for option in options %}

                <a href="{{ option.url }}"
                        class="inline-flex flex-col items-center
                                justify-center px-5
                                border-gray-700
                                border-x
                                hover:backdrop-brightness-125
                                group-hover:bg-opacity-90">

                    <!-- Icon -->
                    <span class="iconify-inline"
                          data-icon="{{ option.icon }}"
                          data-inline="false">
                    </span>

                    <!-- Label -->
                    <span class="text-xs font-light tracking-widest text-zinc-400">
                        {{ option.label }}
                    </span>
                </a>

        {% endfor %}

    </div>
</div>
