
<div data-tippr="{{ title }}" onclick="confirmDelete()">

    <div class="rounded-full w-8 h-8 border text-lg text-center text py-auto font-light
                bg-opacity-25 align-baseline hover:bg-red-400 hover:bg-opacity-25 hover:text-red-200"
         style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

        <span class="iconify-inline" data-icon="{{ icon_id }}"></span>

    </div>
</div>


<script>

    function confirmDelete() {

        let response = confirm('Are you sure you want to {{ keyword }}? This action cannot be undone.');

        if (response) {
            window.location.href = "{{ url }}";
        }
    }

</script>