<div class="flex m-1">

  <span class="inline-flex font-black items-center px-3 text-sm text-gray-300 bg-gray-800 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
    {{ label }}
  </span>

  <div class="rounded-none rounded-r-lg text-xs bg-gray-950 border border-zinc-500 drop-shadow text-gray-200 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600" >
    {{ value }}
  </div>

</div>