{% extends 'main/base.html' %}
{% load tags %}

{% block content %}

    <div>
        {% backlink 'BACK' '../' %}

        <h1>{{ ver }}</h1>
        <h4>Pay Period Breakdowns</h4>
    </div>

    <div class="bg-zinc-100 bg-opacity-50 rounded-xl p-4">
        {{ hr_dist_score }}
    </div>


    <div class="flex flex-row">

        <div class="flex flex-row flex-wrap gap-4">

            {% for employee in employees %}
                <div class="container rounded border bg-zinc-100 bg-opacity-10 p-5 m-2 w-fit">

                    <div class="text-sm font-light uppercase tracking-widest text-indigo-300 flex flex-row">

                        <span>{{ employee }}</span>

                        <a href="{% url 'dept:sch:ver:empl' ver.schedule.department.slug ver.schedule.slug ver.n employee.slug %}">
                            <span class="iconify-inline"
                                 data-icon="mdi:arrow-top-right-bold-box-outline">
                            </span>
                        </a>

                    </div>

                    {% for prd in ver.periods.all %}
                        {% if prd.employee == employee %}

                            <div class="flex flex-row">

                                <span class="text-2xs">#{{ prd.pd_id }}: {{ prd.hours }} hr</span>

                                {% if prd.hours == prd.goal %}
                                    <span class="iconify-inline text-emerald-500"
                                          data-icon="material-symbols:check-small"
                                          data-inline="true">
                                    </span>
                                {% endif %}

                            </div>

                        {% endif %}
                    {% endfor prd %}
                </div>
            {% endfor employee %}
        </div>
    </div>
{% endblock %}