{% load tags %}

<div class="toolbar-wrapper">
    <div class="toolbar">


        {% stat 'Percent Complete' version.percent|glue:"%" %}

        {% stat 'Status' version.get_status_display %}

        <div class="grow"></div>

        {% if version.status == 'P' %}

            {% iconDelete 'ion:arrow-return-left' title='Unpublish' url='unpublish/' %}

        {% endif %}

        {% if version.status != 'P' %}

            {% iconButton 'ic:baseline-publish' title='Publish' url='publish/' %}

            {% iconButton 'icomoon-free:magic-wand' title='Assign Templates' url='assign-templates/' %}

            {% iconButton 'fluent:bot-sparkle-24-regular' title='Solve' url='solve/' %}

            {% iconButton 'solar:eraser-bold' title='Clear' url='clear/' %}

            {% iconDelete 'material-symbols:delete-outline-rounded' title='Delete' url='delete/' %}

        {% endif %}

    </div>
</div>