{% load tags %}
{% load component_tags %}

<div class="toolbar-wrapper">
    <div class="toolbar">

        {% stat 'Percent Complete' version.percent|glue:"%" %}
        {% stat 'Status' version.get_status_display %}

        <div class="grow"></div>

        {% if can_edit %}
        {% if version.status == 'P' %}

        {% component_block 'Menu' %}
            {% component_block 'MenuMainItem' title='Unpublish' url='unpublish/' icon='ion:arrow-return-left' warn=True %}
                {% fill 'confirm' %} Are you sure you want to unpublish this version? {% endfill %}
            {% endcomponent_block %}
        {% endcomponent_block %}

        {% endif %}

        {% if version.status != 'P' %}

        {% component_block 'Menu' %}

            {% component_block 'MenuMainItem' title='Publish' url='publish/' %}
                {% fill 'confirm' %} Are you sure you want to publish this version? {% endfill %}
            {% endcomponent_block %}

            {% component_block 'MenuDropdown' title='Actions' %}
                {% component 'MenuItem' title='Fill Templates' url='assign-templates/' icon='icomoon-free:magic-wand' %}
                {% component 'MenuItem' title='Solve' url='solve/' icon='fluent:bot-sparkle-24-regular' %}
                <hr/>
                {% component 'MenuItem' title='Clear' url='clear/' icon='solar:eraser-bold' warn=True %}
                {% component 'MenuItem' title='Delete' url='delete/' icon='material-symbols:delete-outline-rounded' warn=True %}
            {% endcomponent_block %}

        {% endcomponent_block %}

        {% endif %}
        {% endif %}
    </div>
</div>




