{% extends 'main/base.html' %}
{% load tags %}

{% block content %}

    {% backlink 'BACK' '../' %}

    <hgroup class="mb-2">
        <h1>Unfavorables</h1>
        <hr/>
    </hgroup>

    <div class="flex flex-row bg-zinc-100 bg-opacity-10 rounded p-2 mx-auto">

        {% stat "INEQUALITY SCORE" inequity 'Goal < 5' %}
        {% stat "COUNT" n_unfavs 'Goal < 45' units='slots' %}

    </div>


    <div class="flex flex-col lg:flex-row gap-3">
        <div>
            {% for empl in employees %}
                <div class="bg-zinc-900 bg-opacity-10 rounded p-2 border m-1 w-fit">
                    <a href="{{ empl.slug }}/" class="font-black">
                        {{ empl }}:
                    </a>
                    <span class="opacity-75">
                        {{ empl.unfavorables }} / {{ allocations|get:empl }}
                    </span>
                    {% if empl.unfavorables > inequity %}
                        <a class="btn btn-delete ml-2" href="{{ empl.slug }}/clear/">
                            Clear
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>


        <div>
            <h4 class="pt-6">List</h4>

            {% for slot in unfavorables %}
                <div>
                    <span>{{ slot.shift }}, {{ slot.workday.date }}</span>
                    <span>{{ slot.employee }}</span>
                </div>
            {% endfor %}
        </div>
    </div>




{% endblock %}