{% extends 'main/base.html' %}
{% load tags %}

{% block content %}

    {% backlink 'VERSION' '../../' %}
    {% title ver.schedule "v"|glue:ver.n "Streaks Exceeding Employees Preferences" %}


    <form method="POST"
          action="fix/">
        {% csrf_token %}
        <input type="submit"
               value="Attempt Fix"
               class="btn btn-primary">
    </form>


    {% for slot in warnings %}

        <div class="bg-zinc-100 bg-opacity-10 rounded p-2 m-2 flex flex-row gap-3">

            <a href="{{ slot.employee.url }}">
                {{ slot.employee }}
            </a>

            <a href="{{ slot.url }}">
                {{ slot.workday.date|date:'m/d' }}
                {{ slot.workday.weekday }}
                [{{ slot.shift.name }}]
            </a>

            <a href="{{ slot.workday.url }}">
                {% icon 'calendar' %}
            </a>

            <span class="ml-4 font-thin italic">Day {{ slot.streak }}</span>
            <span class="badge badge-red">+{{ slot.diff }}</span>
        </div>

    {% endfor %}

{% endblock %}