{% extends 'main/base.html' %}



{% block content %}

    <a href="../" class="backlink flex flex-row">
        <i class="iconify-inline" data-icon="mdi:chevron-left"></i>
        Back
    </a>

    <a href="tallies/" class="btn btn-secondary">Tallies</a>

    <div class="container">
            <div class="columns columns-2">
                <h1>Shift</h1>
                <h2>{{ shift.name }}</h2>

                <form action="" method="post">
                    {{ form.as_table }}
                    {% csrf_token %}
                    <input type="submit" value="Register" class="btn btn-primary">
                </form>

            </div>
    </div>

{% endblock %}
