{% extends 'main/base.html' %}
{% load static %}
{% load tags %}


{% block content %}

    {% backlink 'BACK' '../' %}

    {% title 'Shifts' shifts.first.department.verbose_name %}

    <a href="new/" class="float-right btn btn-secondary-green btn-xs">
        <div class="flex flex-row">
            <i class="iconify-inline" data-icon="mdi:plus"></i>
            <span>Add Shift</span>
        </div>
    </a>


    <table class="text-xs table-auto table rounded">
        <thead>
            <tr class="font-bold uppercase">
                <th class="rounded-tl-lg"></th>
                <th>Shift</th>
                <th>Start Time</th>
                <th>Weekdays</th>
                <th>
                     {% include 'sft/list/phases.html' %}
                </th>
                <th># Trained</th>
                <th>Hours</th>
                <th>Preference Ranked</th>
            </tr>
        </thead>

        <tbody>
            {% for shift in shifts %}

                <tr class="cursor-pointer
                    {% cycle 'bg-zinc-700' 'bg-sky-900' %} bg-opacity-20"
                    _="on click go to url {{ shift.url }} end"
                    data-phase-id="{{ shift.phase.pk }}">

                    <th>
                        <i class="iconify-inline text-xl opacity-40"
                           data-icon="fluent:shifts-open-20-filled">
                        </i>
                    </th>

                    <td>
                        <span class="font-bold">{{ shift.name }}</span>
                        <span class="font-thin">({{ shift.verbose_name }})</span>
                    </td>
                    <td>{{ shift.start_time }}</td>
                    <td>
                        {% for wd in shift.weekdays.all %}
                            {{ wd }}
                        {% endfor %}
                    </td>
                    <td>
                        <div class="border rounded text text-center flex flex-row px-2 w-fit
                                    text-{{ shift.phase.color }}-300 border-{{ shift.phase.color }}-300">
                            <i class="iconify-inline" data-icon="{{ shift.phase.icon_id }}"></i>
                            <span>{{ shift.phase }}</span>
                        </div>
                    </td>
                    <td>
                        {{ shift.employees.count }}
                    </td>
                    <td>
                        {{ shift.hours }}hrs.
                    </td>
                    <td>
                        {{ shift.relative_rank|ordinal }}
                    </td>

                </tr>
            {% endfor %}
        </tbody>

    </table>

    <span class="text-amber-300 text-purple-300 border-purple-300"></span>


{% endblock %}