{% extends 'main/base.html' %}
{% load tags %}

{% block content %}
    
    {% backlink 'CANCEL' '../' %}
    
    <hgroup class="mt-8">
        <h1>Add Shift</h1>
        <h3>{{ dept }}</h3>
        <hr>
    </hgroup>
    <div class="bg-zinc-100 bg-opacity-10 rounded-lg border p-4 w-full lg:w-fit">
                <h1 class="font-bold">
                    Shift
                    <span class="font-light">{{ shift.department.verbose_name }}</span>
                </h1>
                <h2>{{ shift.name }}</h2>

                <form method="post">
                    {% for field in form %}
                        {% if field.field.widget.input_type == 'checkbox' %}

                            <div class="bg-indigo-300 bg-opacity-10 rounded-xl border m-2 p-5">
                                <div class="flex flex-col">
                                    <span class="font-thin uppercase">{{ field.label_tag }}</span>
                                    <span class="text-2xs italic text-gray-400 w-[329px]">
                                        {{ field.help_text }}
                                    </span>
                                </div>
                                {{ field }}
                            </div>


                        {% else %}

                            <div class="flex flex-col">
                                <span class="font-thin uppercase">{{ field.label_tag }}</span>
                                <span class="text-2xs italic text-gray-400 m-0 p-0 w-[329px]">
                                    {{ field.help_text }}
                                </span>
                            </div>
                        {{ field }}

                        {% endif %}
                    {% endfor %}

                    {% csrf_token %}
                    <input type="submit" value="Register" class="btn btn-primary">
                </form>

            </div>
{% endblock %}