{% extends 'main/base.html' %}
{% load tags %}

{% block content %}

    {% backlink 'BACK' '../' %}
    
    <hgroup>
        <h1 class="font-black">
            Role
            <span class="text-teal-300 font-light">
                {{ role.name }}
            </span>
        </h1>
        <hr/>
    </hgroup>


    <article class="font-light italic px-4">
        {% if role.description %}
            {{ role.description }}
        {% else %}
            No description has been provided for this role.
        {% endif %}
    </article>

    <div class="flex flex-col lg:flex-row lg:gap-10">

        <div class="flex flex-col">
            <div class="bg-zinc-200 bg-opacity-10 rounded-lg p-5 m-2 w-fit h-fit">

                <h3 class="font-black text-teal-200">
                    {% if role.max_employees == 1 %} Employee {% else %} Employees {% endif %}
                </h3>

                {% if role.employees.exists %}
                    <div class="grid grid-cols-2 gap-1">

                        {% for empl in role.employees.all %}

                            <form method="POST" action="remove-employee/">
                                {% csrf_token %}
                                <input type="hidden" name="employee" value="{{ empl.slug }}"/>

                                <div class="text-2xs text-indigo-900 uppercase bg-indigo-400 rounded w-fit px-1">
                                    {{ empl.name }}
                                    <button type="submit">
                                    <span class="iconify-inline text-sm" data-icon="mdi:close"
                                          data-inline="true"></span>
                                    </button>
                                </div>
                            </form>

                        {% endfor %}

                    </div>
                {% else %}

                    <div class="text-2xs p-2">No employees assigned</div>

                {% endif %}


                {% if role.employees.count < role.max_employees %}
                    <a href="assign/" class="btn btn-primary my-3 w-full">
                        Assign
                    </a>
                {% endif %}

            </div>
            <div class="spacer flex-grow"></div>
        </div>

        <form class="bg-zinc-200 bg-opacity-10 rounded-lg p-5 m-2 w-fit h-fit" method="POST">
            <h6 class="text-indigo-400 uppercase tracking-widest font-thin">Template Slots</h6>
            
            <div class="bg-zinc-200 rounded px-1 shadow text-zinc-950 text-xs font-bold w-fit">
                {{ role.week_count }}-Week Template Size
            </div>
            
            {% csrf_token %}

            {% include 'role/ts-calendar.html' %}

            <input class="watch-checkbox border btn-zinc-800" type="submit" disabled value="Template Off"
                   formaction="off/"/>
            <input class="watch-checkbox border btn-sky-700" type="submit" disabled value="Generic Availability"
                   formaction="generic/"/>
            <input class="watch-checkbox border btn-violet-700" type="submit" disabled value="Direct Template"
                   formaction="direct/"/>
            <input class="watch-checkbox border btn-teal-700" type="submit" disabled value="Rotating Template"
                   formaction="rotating/"/>

        </form>
    </div>


    <details class="mt-7">
        <summary class="text-sm text-zinc-950 bg-red-400 border hover:bg-red-600 hover:border-red-300">
            Danger Zone
        </summary>
        <div>
            <form action="delete/"
                  method="DELETE">

                {% csrf_token %}

                <p class="text-xs text-red-600">
                    Deleting this role will also delete all associated templates.  This action cannot be undone.
                </p>
                <input type="submit"
                       value="Delete"
                       class="btn btn-delete"/>
            </form>
        </div>
    </details>

    <script>
        // add event listener to all checkboxes
        var checkboxes = document.querySelectorAll('input[type=checkbox]');
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                // if any checkbox is checked, enable all submits
                var submits = document.querySelectorAll('input[type=submit].watch-checkbox');
                submits.forEach(function(submit) {
                    submit.disabled = false;
                });
                // if all checkboxes are unchecked, disable all submits
                if (!document.querySelector('input[type=checkbox]:checked')) {
                    submits.forEach(function(submit) {
                        submit.disabled = true;
                    });
                }
            });
        });
    </script>

{% endblock %}
