{% extends 'main/base.html' %}
{% load tags %}

{% block content %}

    {% backlink 'CANCEL' '../' %}

    {% title 'Create New Role' dept.name %}

    <div class="mt-2 mr-2 text-2xs bg-zinc-100 bg-opacity-10 rounded p-2 w-fit">
        <form method="POST">

            {% csrf_token %}
            <table class="table table-auto">
            {{ form.as_table }}
            </table>

            <button class="btn btn-primary"
                    type="submit">
                    Create
            </button>
        </form>
    </div>

{% endblock %}