{% extends 'main/base.html' %}
{% load humanize %}
{% load django_tables2 %}
{% load tags %}

{% block content %}

    <a class="backlink mt-10 flex flex-row"
       href="../">
            <i class="iconify-icon iconify-inline"
               data-icon="mdi:chevron-left">
            </i>
            DEPARTMENTS
    </a>

    <hgroup>
        <h1>Schedule {{ schedule.year }}.{{ schedule.n }}</h1>
        <h3>{{ schedule.percent }}%</h3>
        <div class="italic text-xs text-gray-500">
            {% if schedule.start_date < today %}
                Schedule started
            {% else %}
                Schedule starts
            {% endif %}
            {{ schedule.start_datetime|naturaltime }}
        </div>
        <hr/>
    </hgroup>


    {% if can_delete %}

        <a class="btn btn-delete flex flex-row gap-1 w-fit"
           href="delete/"
           data-tippr="Delete this Schedule">
            <span class="iconify-inline"
                  data-icon="tabler:trash"
                  data-inline="true">
            </span>
            <div class="text-xs">
                Delete
            </div>
        </a>

    {% endif %}


    <div class="flex flex-row">
        <aside class="mt-2 mr-2 text-2xs bg-zinc-100 bg-opacity-10 rounded p-2">
            <ul>
                <li>
                    <a href="employee-list/">
                        Employees Enrolled:
                        <span class="sm-fig">{{ schedule.employees.count }}</span>
                    </a>
                </li>
                <li>
                    Status:
                    <span class="sm-fig">{{ schedule.get_status_display }}</span>
                </li>
                <li>
                    <a href="role-list/">
                        Roles:
                        <span class="sm-fig">{{ schedule.roles.count }}</span>
                    </a>
                </li>
            </ul>
        </aside>


        {% if schedule.status == 'D' %}
            {# ---VERSION SELECTION--- #}
            <fieldset>
                <legend>

                    {% if can_edit %}

                        {% component_block 'WaitModalTrigger' %}
                            <a href="v/new-version/"
                               hx-boost="true"
                               hx-indicator=".htmx-indicator"
                               class="btn btn-secondary px-0.5 mx-2">
                                + New
                                {% component 'Spinner' %}
                            </a>
                        {% endcomponent_block %}

                    {% endif %}

                </legend>

                <div class="badge">
                    {{ schedule.versions.count }}
                    version{{ schedule.versions.count|pluralize }}
                </div>

                {% render_table table %}

                {% if schedule.versions.archived.count > 0 %}
                    <a href="unarchive/" class="btn btn-secondary px-0.5 mx-2">
                        Unarchive {{ schedule.versions.archived.count }}
                        version{{ schedule.versions.archived.count|pluralize }}
                    </a>
                {% endif %}

            </fieldset>
        {% else %}
            {# ---PUBLISHED VERSION SELECTION--- #}
            <fieldset>
                <legend>
                    PUBLISHED
                </legend>
                <a href="v/final/" class="btn btn-secondary px-0.5 mx-2">View</a>
            </fieldset>
        {% endif %}
    </div>


{% endblock %}