{% extends 'main/base.html' %}
{% load humanize %}

{% block content %}

    <a class="backlink mt-10 flex flex-row"
       href="../">
            <i class="iconify-icon iconify-inline"
               data-icon="mdi:chevron-left">
            </i>
            DEPARTMENTS
    </a>

    <hgroup>
        <h1>Schedule {{ schedule.year }}.{{ schedule.n }}</h1>
        <h3>{{ schedule.percent }}%</h3>
        <div class="italic text-xs text-gray-500">
            {% if schedule.start_date < today %}
                Schedule started
            {% else %}
                Schedule starts
            {% endif %}
            {{ schedule.start_datetime|naturaltime }}
        </div>
        <hr/>
    </hgroup>



    <a class="btn btn-delete flex flex-row gap-1 w-fit"
       href="delete/"
       data-tippr="Delete this Schedule">
        <span class="iconify-inline"
              data-icon="tabler:trash"
              data-inline="true">
        </span>
        <div class="text-xs">
            Delete
        </div>
    </a>


    <div class="flex flex-row">
        <aside class="mt-2 mr-2 text-2xs bg-zinc-100 bg-opacity-10 rounded p-2">
            <ul>
                <li>
                    Employees Enrolled:
                    <span class="sm-fig">{{ schedule.employees.count }}</span>
                </li>
                <li>
                    Status:
                    <span class="sm-fig">{{ schedule.get_status_display }}</span>
                </li>
            </ul>
        </aside>


        <fieldset>
            <legend>
                {{ schedule.versions.count }} versions
                <a href="v/new-version/" class="btn btn-secondary px-0.5 mx-2">+ New</a>
            </legend>

            {% for ver in schedule.versions.all %}
                <div class="bg-zinc-900 bg-opacity-20 rounded border border-zinc-700 p-2 m-2 w-fit">
                    <a href="v/{{ ver.n }}">
                        {% if ver.is_best %}
                            <span class="iconify-icon iconify-inline text-amber-400"
                                  data-icon="fluent:trophy-20-filled">
                            </span>
                        {% endif %}
                        Version #{{ ver.n }}
                    </a>
                </div>
            {% endfor %}
        </fieldset>
    </div>

{% endblock %}