{% extends 'main/base.html' %}
{% load tags %}

{% block content %}

    <a class="backlink text-2xs flex flex-row" href="../">
        <span class="iconify-inline" data-inline="true" data-icon="mdi:chevron-left"></span> <span>ALL EMPLOYEES</span>
    </a>

    <h1>{{ employee.name }}</h1>

    <div class="border-r w-5/5 md:w-3/5 lg:w-1/5">
        <table class="table text-xs table-fixed table-auto w-1/5">

            <tr>
                <th>Department</th>
                <td>{{ employee.department.name }}</td>
            </tr>

            <tr>
                <th>FTE</th>
                <td>{{ employee.fte }}</td>
            </tr>

            <tr>
                <th>Start Date</th>
                <td>{{ employee.start_date }}</td>
            </tr>

            <tr>
                <th>Shifts</th>
                <td>
                    <div class="grid grid-cols-2">
                        {% for training in employee.shifttraining_set.all %}

                            {% if training.is_active %}
                                <div class="success-circle h-8 w-8 text-2xs text-center place-items-center"
                                     style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                    <span>{{ training.shift.name }}</span>
                                    <span class="iconify-inline" data-icon='mdi:check-bold'></span>
                                </div>


                            {% else %}
                                <div class="success-circle h-8 w-8 text-2xs text-center place-items-center"
                                     style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                    <span>{{ training.shift.name }}</span>
                                    <span class="iconify-inline" data-icon='mdi:cancel'></span>
                                </div>
                            {% endif %}

                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <th>Template Slots</th>
                <td>
                    <a href="templates/">Manage Template</a>
                </td>
            </tr>
        </table>
    </div>

    {% closeModalScript %}

    <div class="btn btn-submit dialog-opener my-4"
         onclick="document.getElementById('add-pto-dialog').showModal();
                  createModalCloseListener();">
        + Add PTO
    </div>

    <dialog id="add-pto-dialog"
            class="bg-zinc-950 bg-opacity-25 rounded border backdrop-blur-lg">
        {% calendarPicker form_action='add-pto/' %}
    </dialog>

{% endblock %}