{% extends 'main/base.html' %}
{% load tags %}

{% block content %}

    <a class="backlink text-2xs flex flex-row" href="../">
        <span class="iconify-inline" data-inline="true" data-icon="mdi:chevron-left"></span> <span>ALL EMPLOYEES</span>
    </a>

    <h1>{{ employee.name }}</h1>

    <a href="edit/" class="btn btn-secondary float-right">
        <div class="flex flex-row">
            <span class="iconify-inline text-xl text-indigo-300 mr-2 mt-1" data-icon="mdi:pencil"></span>
            <span>Edit</span>
        </div>
    </a>

    <div class="border-r w-5/5 md:w-3/5 lg:w-1/5">

        <table class="table text-xs table-fixed table-auto w-1/5">

            <tr>
                <th>Department</th>
                <td>{{ employee.department.name }}</td>
            </tr>

            <tr>
                <th>FTE</th>
                <td>{{ employee.fte }}</td>
            </tr>

            <tr>
                <th>Start Date</th>
                <td>{{ employee.start_date }}</td>
            </tr>

            <tr>
                <th>Shifts</th>
                <td>
                    <div class="flex flex-row flex-wrap">
                        {% for training in employee.shifttraining_set.all %}

                            {% if training.is_active %}
                                <div class="success-circle h-8 w-8 text-2xs text-center place-items-center"
                                     style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                    <span>{{ training.shift.name }}</span>
                                    <span class="iconify-inline" data-icon='mdi:check-bold'></span>
                                </div>
                            {% else %}
                                <div class="bg-zinc-300 bg-opacity-25 rounded-full border h-8 w-8 text-2xs text-center place-items-center"
                                     style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                    <span>{{ training.shift.name }}</span>
                                    <span class="iconify-inline" data-icon='mdi:cancel'></span>
                                </div>
                            {% endif %}

                        {% endfor %}
                        {% iconButton 'ion:ellipsis-horizontal-circle' 'Update' 'update-training/' %}

                    </div>
                </td>
            </tr>
            <tr>
                <th>Employee Role</th>
                <td>
                    {% if employee.roles.exists %}
                        <a href="{{ employee.roles.first.url }}" class="flex flex-row">
                            <span class="iconify-inline text-emerald-300" data-icon="mdi:check"></span>
                            <span class="text-xs text-green-500">{{ employee.roles.first }}</span>
                        </a>
                    {% else %}
                        <div class="flex flex-row">
                            <span class="iconify-inline text-red-200" data-icon="ic:baseline-notifications-active"></span>
                            <span class="text-xs text-red-300">No role assigned</span>
                        </div>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

    {% closeModalScript %}

    <div class="btn btn-submit dialog-opener my-4"
         onclick="document.getElementById('add-pto-dialog').showModal();
                  createModalCloseListener();">
        <div class="flex flex-row">
            <span class="iconify-inline text-xl text-indigo-900 my-1 -translate-x-1" data-icon="material-symbols:bookmark-add"></span>
            <div>Request PTO</div>
        </div>
    </div>

    <dialog id="add-pto-dialog"
            class="bg-zinc-950 bg-opacity-25 rounded border backdrop-blur-lg">
        {% calendarPicker form_action='add-pto/' %}
    </dialog>


    <div class="btn btn-submit btn-tertiary"
        onclick="document.getElementById('schedules-dialog').showModal();
                  createModalCloseListener();">
        <div class="flex flex-row">
            <span class="iconify-inline text-xl text-indigo-300 my-1 -translate-x-1" data-icon="ant-design:schedule-outlined"></span>
            <div>View Schedules</div>
        </div>
    </div>

    <dialog id="schedules-dialog"
            class="bg-zinc-950 bg-opacity-25 rounded border backdrop-blur-lg">
            {% for sch in employee.schedules.all %}
                <div class="flex flex-col">

                    <div class="text-indigo-200 text-lg font-bold pt-2">
                        {{ sch.slug|upper }}
                    </div>

                    {% for ver in sch.versions.all %}
                            <a href="{{ ver.url }}empl/{{ employee.slug }}/"
                                class="text-xs">
                                Version {{ ver.n }}
                            </a>
                    {% endfor %}

                </div>
            {% endfor %}
    </dialog>






{% endblock %}