{% extends 'main/base.html' %}


{% block content %}

    <a href="../" class="backlink cancel-link">CANCEL</a>

    <h1>New Employee</h1>
    <h2>Department: {{ dept }}</h2>

    <form method="POST">
        {{ form.as_p }}
            {% csrf_token %}
        <inputgroup name="shifts">
            {% for shift in shifts %}
                <label>{{ shift }}
                <input type="checkbox" name="shifts" value="{{ shift.id }}">
                </label>
            {% endfor %}
        </inputgroup>
        <input type="submit" value="Add Employee" class="btn m-4 btn-primary">
    </form>

{% endblock %}