{% extends 'main/base.html' %}
{% load tags %}

{% block content %}
    <style>
        .grid-item {
            min-width: 100px; /* Adjust this to your needs */
        }

        .selected {
            background-color: #f5f5f5;
            border: #8ccde2 2px solid;
            box-shadow: #fafafa99;
            color: #007fff;
        }
    </style>

    {% include 'empl/template-slots/ts-hyperscript.html' %}

     <a class="backlink text-2xs flex flex-row" href="../">
        <span class="iconify-inline" data-inline="true" data-icon="mdi:chevron-left"></span> <span>EMPLOYEE</span>
    </a>

    <hgroup>
        <h1 class="b">
            {{ employee.name }} Slot Templates
        </h1>
        <h2>{{ employee.department }}</h2>
        <hr/>
    </hgroup>

    <div class="flex flex-row align-bottom align-text-bottom">
        <span>
            {{ employee.template_week_count }}-WEEK TEMPLATE
        </span>
        {% iconButton 'tabler:exchange' alt_week_count 'swap-template-week-ct/' %}
    </div>

    <div class="flex flex-col lg:flex-row gap-2">

        {% include 'empl/template-slots/../role/ts-calendar.html' %}

        <div id="result"></div>

    </div>

    <div id="popover" class="absolute z-50 hidden">
        <div class="bg-white shadow-lg rounded-lg py-2 px-4">
            <div class="flex justify-">POPOVER</div>
        </div>
    </div>

    <div id="raw" class="mt-10">
        <details class="bg-transparent">
            <summary class="bg-sky-800 hover:bg-sky-900">
                <h3>Raw Data View</h3>
            </summary>
            {% include 'empl/template-slots/raw-view.html' %}
        </details>
    </div>


{% endblock %}