{% extends 'main/base.html' %}

{% block content %}

    <a class="backlink text-2xs flex flex-row" href="../">
        <span class="iconify-inline" data-inline="true" data-icon="mdi:chevron-left"></span> <span>DEPARTMENT</span>
    </a>

    <h1>{{ dept.name }} Employees</h1>

    <a class="btn btn-primary float-right" href="create/">
        + NEW
    </a>
    

    <div class="toolbar-wrapper">
        <nav class="flex flex-row toolbar">
            <a href="inequity/" class="nav-item">
                Inequity Monitoring
            </a>
        </nav>
    </div>



    <div class="overflow-x-scroll">
        <table class="text-xs table-auto table rounded">
            <thead>
                <tr class="font-bold uppercase">
                    <th class="rounded-tl-lg"></th>
                    <th>Employee</th>
                    <th>FTE</th>
                    <th>Phase</th>
                    <th>Role</th>
                    <th>Max Streak</th>
                </tr>
            </thead>

            <tbody>
                {% for employee in employees %}

                    <tr class="cursor-pointer
                        {% cycle 'bg-zinc-700' 'bg-sky-900' %} bg-opacity-20"
                        _="on click go to url {{ employee.url }} end">

                        <th>
                            <i class="iconify-inline text-xl opacity-40"
                               data-icon="clarity:employee-solid">
                            </i>
                        </th>

                        <td>
                            <span class="font-bold">{{ employee.initials }} • </span>
                            <span class="font-thin">{{ employee.name }}</span>
                        </td>
                        <td>
                            {% if employee.fte == 0 %}
                                <span class="italic">PRN</span>
                            {% else %}
                                {{ employee.fte }}
                            {% endif %}
                        </td>
                        <td>{{ employee.phase_pref }}</td>
                        <td>
                            {% if employee.roles.exists == False %}
                                <div class="text-red-200 bg-red-700 rounded-sm bg-opacity-50 px-2 py-0 text-2xs w-fit">
                                    None
                                </div>
                            {% else %}
                                {{ employee.roles.first }}
                            {% endif %}
                        </td>
                        <td>{{ employee.streak_pref }}-in-a-row</td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    
    


{% endblock %}