{% extends 'main/base.html' %}
{% load tags %}


{% block content %}

    {% backlink 'CANCEL' '../' %}

    <h1>New Employee</h1>
    <h2>Department: {{ dept }}</h2>
    <hr/>

    <div class="bg-zinc-100 p-2 rounded bg-opacity-10 my-8 w-fit">
        <form method="POST">
            {% csrf_token %}
            <div class="columns-2">
                <table>{{ form.as_table }}</table>
            </div>

            <input type="submit" value="Add Employee" class="btn m-4 btn-primary">
        </form>
    </div>

{% endblock %}