/* static/src/input.css */


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-gradient-to-bl from-indigo-950 to-sky-950;
}

.content {
    @apply bg-zinc-900 bg-opacity-70 rounded-lg shadow-lg p-4 m-6 lg:mx-10 mt-[10px];
}

:root {
    @apply text-zinc-100;
}

h1 {
    @apply text-3xl;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

.b {
    @apply font-bold;
}

hgroup {
    @apply mb-4;
}

.text-2xs {
    font-size: 10px;
}

/* Table */
.table {
    @apply min-w-full divide-y divide-zinc-600;
}

/* Table Head */
.table thead th {
    @apply py-3 px-4 bg-zinc-700 text-gray-100 font-semibold uppercase tracking-wider;
}

/* Table Body */
.table tbody tr {
    @apply hover:bg-zinc-700;
}

.table tbody tr:nth-child(even) {
    @apply bg-zinc-800;
}

.table tbody tr td {
    @apply table-cell py-0.5 px-2 text-gray-100;
}

/* Table Border */
.table-bordered {
    @apply border border-zinc-600 rounded;
}

th {
    @apply bg-zinc-300 bg-opacity-10;
}

/* Table Hover Effect */
.table-hover tbody tr:hover {
    @apply bg-zinc-700;
}

/* Table Striped Rows */
.table-striped tbody tr:nth-child(even) {
    @apply bg-zinc-800;
}

.table-striped tr:nth-child(odd) td {
    @apply bg-zinc-900;
}

.table-striped tbody tr:nth-child(odd) {
    @apply bg-zinc-900;
}

.table-striped tbody tr:nth-child(even) td {
    @apply bg-zinc-800;
}

.cancel-link {
    @apply text-red-500;
    @apply text-red-500;
}

.iconify-icon {
    @apply inline;
}

.jbm {
    font-family: 'JetBrains Mono', 'Fira Code', 'PT Mono', 'Roboto Mono', monospace;
}

.messagelist {
    @apply bg-zinc-800;
}

.messagelist .message {
    @apply border-b border-zinc-600;
}

.messagelist .success {
    @apply bg-green-500 text-green-900;
}

.messagelist .warning {
    @apply bg-yellow-500 text-yellow-900;
}

a {
    @apply transition ease-in-out transform-gpu text-indigo-300 hover:text-indigo-400;
}

a:hover {
    @apply text-indigo-400;
}

a.delete-btn {
    @apply text-red-100 bg-gradient-to-bl from-red-400 to-red-900 px-3 rounded-sm uppercase py-1;
}

a.delete-btn:hover {
    @apply drop-shadow-lg from-red-600 to-red-950 text-red-300;
}

a.backlink {
    @apply text-indigo-300 hover:text-indigo-400 uppercase mt-4 pt-4;
    font-size: 10px;
}

a.backlink.cancel-link {
    @apply text-rose-100 hover:text-rose-300;
}

.success-circle {
    @apply bg-green-500 border text-emerald-300 border-emerald-500 bg-opacity-10 rounded-full text-center pt-0.5;
}

.error-circle {
    @apply bg-red-500 border text-red-300 border-red-500 bg-opacity-10 rounded-full text-center;
}

.inactive-circle {
    @apply bg-gray-500 border text-gray-300 border-gray-500 bg-opacity-10 rounded-full text-center pt-0.5;
}

.bg-warning {
    @apply bg-orange-400 bg-opacity-20;
}

.bg-warning-secondary {
    @apply bg-zinc-600 bg-opacity-30 opacity-40;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea,
select,
select[multiple] {
    @apply bg-zinc-800 border border-zinc-600 rounded-lg px-1 py-2 text-gray-100 focus:outline-none focus:ring-2
    focus:ring-indigo-400 focus:border-transparent;
}

select[multiple] {
    @apply text-xs h-fit h-[200px] w-fit px-10;

}

input[type='checkbox'] {
    @apply bg-indigo-300 text-white text-xs border border-zinc-600 rounded px-1 py-1 text-gray-100 focus:outline-none focus:ring-2
    focus:ring-indigo-400 focus:border-transparent;
}

input[type='checkbox']:checked {
    @apply bg-indigo-600 border-violet-300;
}

input[type='checkbox'].checkbox-yellow:checked {
    @apply bg-yellow-600 border-yellow-300;
}

input[type='checkbox']:checked:hover {
    @apply bg-indigo-700 border-violet-400 ring;
}

input[type='checkbox']:hover {
    @apply bg-indigo-400 border-violet-200 ring;
}

input[type='checkbox'].checkbox-yellow {
    @apply bg-yellow-300 bg-opacity-20 text-white text-xs border border-zinc-600 rounded-lg px-1 py-1 text-gray-100 focus:outline-none focus:ring-2
    focus:ring-amber-200 focus:border-transparent;
}

input[type='checkbox'].checkbox-yellow:hover {
    @apply bg-yellow-400 border-yellow-200 ring;
}

label.for-checkbox {
    @apply text-xs uppercase font-light text-indigo-200;
}

label {
    @apply text-xs uppercase font-light text-indigo-200 pt-0;
}

input[type=checkbox] + label[for] {
    @apply text-indigo-100 font-bold;
}

.btn {
    @apply cursor-pointer select-none inline-block px-4 py-2 text-xs font-medium leading-6 text-center text-gray-100
    transition bg-indigo-500 rounded shadow hover:shadow-lg hover:bg-indigo-600 focus:outline-none;
}

button.disabled {
    @apply bg-gray-500 cursor-not-allowed hover:bg-gray-500 border-gray-500;
}

.btn-primary {
    @apply bg-indigo-500 hover:bg-indigo-600 drop-shadow-2xl border;
}

.btn-green {
    @apply bg-green-500 hover:bg-green-600 drop-shadow-2xl border;
}

.btn-warning {
    @apply bg-yellow-500 hover:bg-yellow-600 drop-shadow-2xl border;
}

.btn-xs {
    @apply text-2xs px-2 py-1;
}

input[type=submit] {
    @apply rounded-lg px-3 py-2 bg-indigo-500 text-gray-100 text-xs font-medium leading-6 text-center;
}

input[type=submit].btn-zinc-800 {
    @apply bg-zinc-800 hover:bg-zinc-900 hover:border hover:border-zinc-700;
}

input[type=submit].btn-zinc-800[disabled] {
    @apply bg-zinc-800 cursor-not-allowed hover:border-zinc-300;
}

input[type=submit].btn-indigo-700 {
    @apply bg-indigo-700 hover:bg-indigo-800 hover:border hover:border-indigo-600;
}

input[type=submit].btn-indigo-700[disabled] {
    @apply bg-zinc-800 cursor-not-allowed hover:border-zinc-300;
}

input[type=submit].btn-teal-700 {
    @apply bg-teal-700 hover:bg-teal-800 hover:border hover:border-teal-600;
}

input[type=submit].btn-teal-700[disabled] {
    @apply bg-zinc-800 cursor-not-allowed hover:border-zinc-300;
}

input[type=submit].btn-sky-700 {
    @apply bg-sky-700 hover:bg-sky-800 hover:border hover:border-sky-600;
}

input[type=submit].btn-sky-700[disabled] {
    @apply bg-zinc-800 cursor-not-allowed hover:border-zinc-300;
}

input[type=submit].btn-violet-700 {
    @apply bg-violet-700 hover:bg-violet-800 hover:border hover:border-violet-600;
}

input[type=submit].btn-violet-700[disabled] {
    @apply bg-zinc-800 cursor-not-allowed hover:border-zinc-300;
}

input[type=submit].btn-delete {
    @apply bg-red-500 hover:bg-red-600;
}

input[type=submit].btn-primary {
    @apply bg-indigo-500;
}

.btn-primary:hover {
    @apply bg-indigo-600;
}

.btn-secondary {
    @apply bg-indigo-300 bg-opacity-5 border-2 drop-shadow-sm border-indigo-500 hover:drop-shadow-lg;
}

.form-check-input {
    @apply m-1;
}

td input {
    @apply my-2;
}

input[type=submit].btn-secondary {
    @apply bg-transparent bg-indigo-300 bg-opacity-5 border-2 drop-shadow-sm border-indigo-500 hover:drop-shadow-lg;
}

input[type=submit][disabled] {
    @apply bg-gray-500 cursor-not-allowed  opacity-50;
}

input[type=submit].btn-secondary:hover {
    @apply bg-zinc-600;
}

fieldset {
    @apply border border-zinc-600 rounded-lg p-6;
}

fieldset.main {
    @apply bg-zinc-950 bg-opacity-10;
}

fieldset > legend {
    @apply text-teal-300 uppercase tracking-wide font-thin mb-2 text-xs;
}

fieldset > * > .form-group {
    @apply mb-4 border-l border-l-4 border-l-indigo-100 border-b border-b-indigo-300 rounded border-opacity-20 drop-shadow-lg p-4;
}

.btn-secondary-green {
    @apply bg-emerald-300 bg-opacity-5 border-2 drop-shadow-sm border-emerald-200
    hover:drop-shadow-lg
    hover:bg-emerald-500
    hover:border-emerald-600;
}

.btn-secondary-green:hover {
    @apply bg-emerald-500 hover:bg-emerald-600;
}

.btn-tertiary {
    @apply bg-transparent border border-indigo-500 hover:bg-indigo-500 hover:border-indigo-600;
}

.btn-tertiary:hover {
    @apply bg-indigo-500 hover:bg-indigo-600;
}

.btn-delete {
    @apply bg-red-500 hover:bg-red-600 hover:border-red-700 hover:text-white;
}

.icon-btn {
    @apply w-7 h-7 border m-2 pb-1 rounded-full hover:ring-2 hover:ring-indigo-400;
}

details {
    @apply rounded-lg p-2;
}

details.treelist {
    @apply p-0 bg-transparent;
}

details[open] {
    @apply bg-slate-700;
}

details > summary {
    @apply cursor-pointer select-none inline-block px-4 py-2 text-xs font-medium leading-6 text-center text-gray-100
    transition bg-indigo-500 rounded shadow hover:shadow-lg hover:bg-indigo-600 focus:outline-none;
}

details > summary.clear {
    @apply cursor-pointer select-none inline-block px-4 py-2 text-xs font-medium leading-6 text-center text-gray-100
    transition bg-transparent rounded shadow hover:shadow-lg hover:bg-transparent focus:outline-none;
}

.message-list {
    @apply my-4 justify-center flex flex-row flex-wrap mx-auto;
}

.message.success {
    @apply bg-green-300 text-green-900 rounded-sm p-2 text-emerald-700 w-fit text-2xs font-light drop-shadow-lg shadow;

}

.message.error {
    @apply bg-red-300 text-red-900 rounded-xl p-2 text-red-700 w-fit text-xs jbm;
}

.message.info {
    @apply bg-blue-300 text-blue-900 rounded-xl p-2 text-blue-700 w-fit text-xs jbm;
}

.message.warning {
    @apply bg-yellow-300 text-yellow-900 rounded-xl p-2 text-yellow-700 w-fit text-xs jbm;
}

form {
    @apply flex flex-col space-y-4 w-full lg:w-fit flex-wrap;
}

form > * > * > input, select {
    @apply w-full;
}

hr.dashed {
    @apply border-dashed border-t-2 border-indigo-500;
}

.helptext {
    @apply text-2xs text-gray-400 italic pl-2 mt-0;
}

.card {
    @apply bg-zinc-950 bg-opacity-10 rounded-lg p-6;
}

.card-body {
    @apply bg-zinc-950 bg-opacity-10 rounded-lg p-6;
}

.card-title {
    @apply text-teal-300 uppercase tracking-wide font-black mb-2 text-xl;
}

.card-text {
    @apply text-gray-100 text-xs;
}

.card-description {
    @apply text-gray-100 text-xs;
}

.toolbar {
    @apply flex flex-row flex-wrap justify-end items-center gap-4;
}

.toolbar-wrapper {
    @apply bg-indigo-300 bg-opacity-10 border border-indigo-400 border-4 rounded-lg p-4;
}

.nav-item {
    @apply text-xs font-light text-indigo-200 px-2 py-1 my-1 cursor-pointer;
}

.nav-item.selected {
    @apply bg-indigo-600 bg-opacity-30 rounded text-white font-bold;
}

.tippr-tooltip {
    @apply absolute z-50 inline-block px-3 py-2 text-xs italic font-thin text-indigo-300 bg-zinc-900 rounded-xl
    shadow-sm tooltip opacity-80 transition transition-opacity duration-700 ease-in-out;
}

.alert-warning {
    @apply bg-orange-300 border border-amber-400 text-orange-800 rounded-xl p-2 text-amber-700 w-fit text-xs jbm mx-auto;
}

.alert-pulse {
    @apply animate-pulse transition transition-all duration-1000 ease-in-out;
}

.toast {
    @apply bg-zinc-900 bg-opacity-90 rounded-lg p-6 mt-2;
}

.badge {
    @apply bg-opacity-10 border border-zinc-200 border-opacity-20 rounded-lg py-0.5 px-1 text-2xs font-light drop-shadow;
}

.badge-red {
    @apply bg-red-900 text-red-300;
}

.sm-fig {
    @apply text-sm text-indigo-300 font-bold;
}

.lg-fig {
    @apply text-lg text-indigo-300 font-bold;
}

.iconify-inline {
    @apply inline-block;
}