

<div class="panel">

    <div class="panel-title">{{ title }}</div>

    <div class="panel-body">
        {% for week in month %}
            <div class="flex flex-col">
                {% for day in week %}
                    <div class="w-9 h-9 text-center">
                        <div class="text-sm text-gray-500"
                             data-year="{{ day.year }}"
                             day-month="{{ day.month }}"
                             day-day="{{ day.day }}">
                            {{ day.day }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

</div>